.maincontainer {
  @apply hidden lg:block h-screen;
  display: grid;
  grid-template-columns: 35% 180%;
  background-color: #fcfffa;
  position: relative;
  padding-left: 3%;
  padding-right: 45%;
  overflow: hidden;
  width: 100%;
}
.container1 {
  @apply flex flex-col items-start;
  position: relative;
  width: 87%;
  height: 150%;
  overflow: hidden;
  padding-bottom: 6%;
  padding-top: 20%;
  margin-left: 12%;
  margin-right: 2.5%;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0.5, 0.5);
}
.container2 {
  @apply flex flex-col items-start;
  width: 90%;
  overflow: hidden;
  background-color: #fcfffa;
  height: auto;
}
.column {
  @apply rounded-md;
  height: 85%;
  color: black;
  margin-top: 2%;
  color: #191d1c;
  font-size: 100%;
  overflow: hidden;
  width: 160%;
  max-width: 190px;
  min-width: 120px;
  margin: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnspan {
  margin-left: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.headingContainer {
  @apply items-center space-x-12;
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 4%;
  padding-bottom: 5%;
  overflow: hidden;
  justify-content: left;
}

.headingcolumn {
  color: black;
  display: flex;
  align-items: center;
  color: #191d1c;
  overflow: hidden;
  gap: 1%;
}

.headingspan {
  color: #7bce8d;
  font-size: 110%;
  display: flex;
}
.column:hover {
  @apply rounded-md;
  background-color: #e3f9d8;
}

.column.active {
  color: #7bce8d;
}