.Layoutcontainer {
  @apply hidden lg:block h-screen;
  display: grid;
  grid-template-columns: 35% 180%;
  background-color: #fcfffa;
  position: relative;
  padding-left: 3%;
  padding-right: 45%;
  overflow: hidden;
  width: 100%;
}
.Layoutcontainer1 {
  @apply flex flex-col items-start;
  position: relative;
  width: 87%;
  height: 150%;
  overflow: hidden;
  padding-bottom: 6%;
  padding-top: 20%;
  margin-left: 12%;
  margin-right: 2.5%;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0.5, 0.5);
}
.Layoutcontainer2 {
  @apply flex flex-col items-start;
  width: 90%;
  overflow: hidden;
  background-color: #fcfffa;
  height: auto;
}
.Layoutcolumn {
  @apply rounded-md;
  height: 85%;
  color: black;
  margin-top: 2%;
  color: #191d1c;
  font-size: 100%;
  overflow: hidden;
  width: 160%;
  max-width: 190px;
  min-width: 120px;
  margin: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pbody{
    padding-top: 2%;
    padding-left: 15%;
    font-size: 160%;
    padding-bottom: 6%;
    display: flex;
}
.icons{
    display: flex;
    margin-left: 150%;

}
.maincontainer{
    background-color: #E3F9D8;
    height: 100vh;
    width: 270%;
}
.cardscontainer{
    position: relative;
    padding-left: 5%;
    padding-right: 12%;
    padding-bottom: 11%;
    padding-top: 3%;
    height: 40%;
    width: 160%;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 15% 15%;
    overflow:hidden;
    gap: 9%;
    z-index: 0;
  }
  .cards{
    @apply rounded-md;
    color: black;
    align-items: center;
    color: #191D1C;
    font-size: 90%;
    position: relative;
    height: 340%;
    width: 140%;
    overflow: hidden;
    background-color: #E3F9D8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
.body{
    padding-top: 8%;
    padding-left: 15%;
    font-size: 160%;
    display: flex;
    align-items: start;
    justify-content: left;
    text-align: left;
    font-weight: 800;
    padding-right: 2%;
}
.displayicon{
    display: flex;
    text-align: end;
    margin-left: auto;
}