.homebg {
  background-image: url("/assests/bghome.jpeg");
  position: absolute;
  bottom: 20%;
  left: 0;
  top: 20%;
  right: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  filter: brightness(70%);
}

.pheading {
  margin-top: 6%;
  text-align: left;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 180%;
}
.pbody {
  margin-top: 2%;
  text-align: left;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 100%;
}

.button {
  @apply bg-gradient-to-r from-buttonleft to-buttonright rounded-md;
  font-size: 100%;
  z-index: 1;
  margin-top: 3%;
  position: absolute;
  width: 13%;
  padding: 0.6%;
  color: white;
}

@media screen and (max-width: 1050px) {
  .pbody,
  .pheading,
  .button,
  .homebg {
    margin: 0 0 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .pheading {
    font-size: 140%;
    line-height: 40px;
    margin-top: 20%;
  }

  .pbody {
    font-size: 80%;
    line-height: 16px;
    margin-right: 4%;
  }
  .button {
    font-size: 60%;
    line-height: 15px;
    width: 20%;
    justify-content: center;
    display: flex;
  }
  .homebg {
    height: 43%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pheading {
    font-size: 150%;
    line-height: 60px;
    margin-top: 10%;
  }

  .pbody {
    font-size: 90%;
    line-height: 18px;
  }
  .button {
    left: 7%;
    font-size: 80%;
    line-height: 22px;
    width: 25%;
    margin-top: 2%;
  }
  .homebg {
    height: 60%;
  }
}
@media only screen and (min-width: 991px) {
  .pheading {
    font-size: 180%;
    margin-top: 13%;
  }

  .pbody {
    font-size: 100%;
  }
  .button {
    left: 7%;
    font-size: 100%;
    line-height: 22px;
    width: 15%;
    margin-top: 2%;
  }
  .homebg {
    height: 80%;
  }
}
